*.pyc
*.orig
.DS_Store
.tm_properties
.pytest_cache/
.hypothesis/
__pycache__/

*~
\#*\#
Icon*

*.o
*.so
*.dmg
*.jar
a.out

pygooglevoice.egg-info/
googlevoice.egg-info/
build/
dist/
sdist/

.envrc
.flake8

tmtags
tmtagsHistory